{% extends "layouts/base.html" %}

{% block title %} Reservations {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .search-input {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bookings</h4>
                        <!-- Search input field -->
                        <input type="text" id="search-input" class="search-input" onkeyup="searchReservations()" placeholder="Search for reservations..">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter" id="reservations-table">
                                <thead class="text-primary">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        No of Person
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Start Time
                                    </th>
                                    <th>
                                        End Time
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Status
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                        <tr class="reservation-row">
                                            <td>
                                                <a href="{% url 'reservation_detail' reservation.id %}">
                                                    {{ reservation.name }}
                                                </a>
                                            </td>
                                            <td>{{ reservation.no_of_person }}</td>
                                            <td>{{ reservation.date }}</td>
                                            <td>{{ reservation.start_time }}</td>
                                            <td>{{ reservation.end_time }}</td>
                                            <td>{{ reservation.note|slice:":25" }}...</td>
                                            <td class="text-center">
                                                {{ reservation.get_status_display }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function searchReservations() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById('search-input');
        filter = input.value.toLowerCase();
        table = document.getElementById('reservations-table');
        tr = table.getElementsByTagName('tr');
        for (i = 1; i < tr.length; i++) { // Skip header row
            tr[i].style.display = 'none';
            td = tr[i].getElementsByTagName('td');
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                        break; // Stop searching in this row if a match is found
                    }
                }
            }
        }
    }
</script>
{% endblock javascripts %}
