<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React in Django</title>
    <link rel="stylesheet" href="{% static 'frontend/static/css/main.e395cbe6.css' %}">
     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5lkRFSoBsGij-DpOHwqqXYHlnKVbMwNE&libraries=places"
      async
      defer
    ></script>
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'frontend/static/js/main.d78737dc.js' %}"></script>
</body>
</html>
